.contener{
    margin: 50px 0 10px 120px;
}
.img img{
    box-shadow: 0 0 10px rgba(58, 57, 57, 0.671);
    width: 90%;
}
.img_sec{
    margin-top: -35px;
}
.hero_titel{
    margin: 30px 0 0 100px;
    line-height: 1.6;
}
p{
    line-height: 1.6;
}
