* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}




@font-face {
    font-family: ArRounded;
    src: url(../fonts/Arial_Rounded_MT.ttf);
}
@font-face {
    font-family: ComicSans;
    src: url(../fonts/ComicSansMS3.ttf);
}
@font-face {
    font-family: unispace;
    src: url(../fonts/unispace\ rg.ttf);
}
nav a{
    font-family: ComicSans;
}
h1{
    font-family: unispace;
    font-size: 2.2rem !important;
}
h2, h3 ,h4 ,h5{
    font-family: ArRounded;
}
body{
    font-family: Tahoma Arial;   
}

.container{
    width: 90%;
    margin: auto;
}
#top, #bottom, #left, #right {
	background: #0000ff;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 3px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {

		left: 0; right: 0;
		height: 3px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

           /* start home page  */
/* ********** start header styles *********** */


header nav{
    font-family: comic sans-serif;
    background-color: #00BAFF;

}
header nav ul{
    list-style-type: none;
}
header nav ul a{
    color: #000000;
    text-decoration: none;
}
header nav ul a.active , header nav ul a:hover{
    color: #FFFFFF;   
}
header nav .contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .nav-links{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

header nav .logo{
    width: 20%;
    text-align: right;
    margin-top: 8px;
    margin-right: -60px;
}

/* ********** end header styles *********** */

/* ********** start main styles *********** */
main .infos{
    margin-top: 25px;
}
main .personal-info{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
main .infos .infos-title{
    font-size: 2.5rem;
    margin-top: -20px;

}
main .image{
   width: 35%;
   margin-right: 70px;   
}
main .image img{
    width: 350px;
    height: 350px;
    margin-right: 70px;
}
table{
    margin-left: -25px;
}

table tr th {
    color: #eee;
}

/* ********** end main styles *********** */

         /* end home page  */




           /* start view Experience page  */

/* ********** start main styles *********** */      
.viewExp h1{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 25px;
    
}
.viewExp section.first h3{
    font-size: 1.5rem;
    margin-bottom: 25px;
}
.viewExp section.first h3 sub{
    font-size: 0.8rem;
    
}
.viewExp section.first h4{
    margin-bottom: 25px;
}
.viewExp section.first p{
    margin-bottom: 50px;

}
/* ********** end main styles *********** */ 

         /* end view Experience page  */
          
         /* start Add course page  && Add experence page */

/* ********** start main styles *********** */ 

.AddCourses,.AddExp{
   display: flex;
   justify-content: space-around;
   margin-top: -35px;
   padding: 60px 0;
   margin-bottom: 20px;
   
}

.AddCourses .image,.AddExp .image{
    height: 100%;
}
.AddCourses .course img {
    height: 612px;
    width: 120%;
}

.AddCourses form [type="submit"] ,.AddCourses form [type="reset"] , .AddExp form [type="submit"] ,.AddExp form [type="reset"]{ 
    border: none;
    display: inline-block;
    width: 230px;
    height: 30px;
    color: white;
    border-radius: 10px;

}
.AddCourses form [type="submit"] ,.AddExp form [type="submit"]{
    background-color: #198754;
    margin-left: 30px;
}
.AddCourses form [type="reset"] ,.AddExp form [type="reset"]{
    background-color: #dc3545 ;
    margin-left: 75px;
}

.form-inputs{
    border-radius: 8px;
    height: 28px;
    width: 230px;
    border: 1px solid black;
}
textarea{
    height: 100px !important;
}
.AddCourses .urlRadio{
     margin-left: 65px;
}

/* ********** end main styles *********** */ 
/*  end Add course page  */



/* ********** start main styles *********** */ 
/* start Add experience page  */
.AddExp .exp{
    margin-right: -120px;
}
.AddExp .exp img{
    height: 460px;
    width: 90%; 
}

.AddExp textarea{
    width: 460px !important;
}
/* ********** end main styles *********** */ 
/*  end Add experience page  */